.gallery {
  width: 1128px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 24px;
  list-style-type: none;
}

.gallery li {
  position: relative;
  width: 360px;
  height: 200px;
}

.gallery img {
  position: absolute;
}

.gallery img:hover {
  top: -8px;
  left: -4px;
  width: 376px;
  height: 208px;
}

.feedback-form {
  max-width: 408px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  background: #fff;
  box-sizing: border-box;
}

.feedback-form label {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 3px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form button {
  align-self: flex-start;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  color: #fff;
  cursor: pointer;
}
